{% extends "base.html" %}


{% block title%}
	Album
{% endblock title%}



{% block content %}



{% for x in data %}
	<div class="row">
		<div class="col-lg-11 col-md-11 col-sm-12 col-12">
			<h5>Album_ {{x.name}}</h5>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-12 col-12">
			<a href="/media/{{x.file}}">Download</a>
		</div>
	<!-- 	<div class="col-lg-2 col-md-2 col-sm-12 col-12">
			<a href="/media/{{x.file}}">Delete</a>
		</div> -->
	</div>
	
	<hr>
{% endfor %}





{% endblock content %}
