{% extends "base.html" %}


{% block title%}
	Album
{% endblock title%}



{% block content %}


<div class="alert alert-warning" role="alert" style="margin-top: 60px;margin-bottom: 30px;text-align: center;">
  <strong>Sortedimage.com</strong> is a web tool that organize your images by similarity.
</div>


{% for x in data %}


	<div style="text-align: center;">
		
		<img src="/media/zip.png" style="height: 140px;margin-top:55px;">

		<div class="row" style="margin: 15px 0px;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<h1>Album_ {{x.name}}</h1>
				<h4>{{x.size}}</h4>
			</div>
		</div>

		<div class="row"> 
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<p><strong>Share :</strong> https://www.sortedimage.com/{{x.token}} </p>
			</div>
		</div>

		<div class="row"> 
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<a href="/media/{{x.file}}" style="font-size: 28px;">Download the file</a>
			</div>
		</div>

	</div>


{% endfor %}





{% endblock content %}
