{% extends "base.html" %}

{% block title %}
	Upload now
{% endblock title %}





{% block content %}
	
	<div style="margin-top: 30px;">
		
		<h1 style="text-align: center;font-family: 'Ubuntu', sans-serif;font-weight: 700;margin-bottom: 30px;">Classify and share your images <img style="height: 38px;" src="/media/imagelogo.png"></h1>		

		<div class="alert alert-primary" role="alert">
		  <h3 class="alert-heading">Read Me First!</h3>
		  Drag and drop <span style="text-decoration:underline;">all at once</span> the images you wish to organize by similarity. When the images are all classified in folders, <STRONG>we will automatically redirect you to download or share them. Be patient ;)</STRONG>
		</div>

		<form action="/guestupload" class="dropzone" id="my-great-dropzone" method=POST>

			{% csrf_token %}
		  <div class="fallback">
		    <input name="docfile" type="file" multiple />
		  </div>
		</form>


		<div class="row" style="margin-top: 72px;margin-bottom: 30px;">
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">
				<h3>How it works?</h3>
				<p>We use machine learning to compare images and classify them in folders according to their same level of similarity (85%). The only thing you have to do is to upload your images above and the algorithm will <span style="text-decoration: underline;">automatically</span> give you an album in .zip format. We recommend you to use images with a size lower than 2 MB for an efficient speed.</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-12">
				<h3>Beta</h3>
				<p>We are currently in Beta and the application may be subject to minor bugs. If you encounter them, please notify us at <strong>jusnabuss@gmail.com</strong>. We want this tool to help you as much as possible so we will constantly improve it.</p>
			</div>
		</div>


	</div>

		






{% endblock content %}






